<div class="container-fluid vh-100"> <!-- 1 -->
  <div class="row h-100 align-items-start"> <!-- 2 -->

    <div class="col-12 d-flex justify-content-center align-items-start pt-5"> <!-- 3 -->
      <div class="card shadow-sm" style="width: 100%; max-width: 500px;"> <!-- 4 -->
        <div class="card-body p-4"> <!-- 5 -->
          <h4 class="card-title mb-4 text-success fw-semibold mb-4">Sign Up</h4>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

        <div class="mb-3">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        </div>

        <div class="mb-3">
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="mb-3">
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
        </div>


      <div class="d-grid">
        <%= f.button :submit, "Sign up", class: "btn btn-success btn-lg" %>
      </div>

    <% end %>

    <div class="d-grid m-2">
      <%= render "devise/shared/links" %>
    </div>

        </div> <!-- 5 -->
      </div> <!-- 4 -->
    </div> <!-- 3 -->

  </div> <!-- 2 -->
</div> <!-- 1 -->
