<!DOCTYPE html>
<html>
  <head>
    <title>FinanceAiAssistant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to "Skip to main content", "#main-content", class: "visually-hidden-focusable" %>
    <header>
      <%= render "shared/navbar" %> <!-- 👈 Add this for navbar -->
    </header>

    <main id="main-content">
      <div class="container mt-5">
        <%= yield %>
        <%= render "shared/flashes" %>
      </div>
    </main>
  </body>
</html>
